[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
azure-functions = "*"
python-dotenv = "*"
pyodbc = "<=4.0.28"

[requires]
python_version = "3.7"
